<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio GGW</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <header>
        <h1>Guilherme Gustavo Weber</h1>
        <p>Estudante: Ciência da Computação | Programação | Desenvolvimento</p>
        <nav>
            <ul>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>

    </header>
{% block conteudo%}
{% endblock conteudo %}
    <footer>
        <p>&copy; 2024 Guilherme Gustavo Weber. Todos os direitos reservados.</p>
    </footer>

</body>
</html>