{% extends 'base.html' %}
{% block conteudo %}
<main>
    <section class="py-1 text-center container" id="sobre">
        <div class="row py-lg-1">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Estudante: Ciência da Computação | Programação | Desenvolvimento</h1>
                <p class="lead text-body-secondary">Sou um desenvolvedor com o comprometimento e motivação na busca de
                    oportunidades para crescer e contribuir, agregando conhecimento e desenvolvendo novas habilidades.
                    Esta coleção apresenta uma variedade de projetos desenvolvidos durante minha jornada de
                    aprendizado.</p>
                <h1 class="fw-light">Habilidades</h1>
                <p class="lead text-body-secondary">HTML & CSS | Java (básico) | Python | C/C++ | Android (básico) |
                    Microsoft Office</p>
            </div>
        </div>

    </section>
    <div class="album py-5 bg-light" id="projetos">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                             src="static/images/port.png" alt="Portfólio">
                        <div class="card-body">
                            <h1 class="fw-light">Portfólio (Deploy)</h1>
                            <p class="card-text">Tecnologias Usadas: PyCharm Community Edition, Python, Flask,
                                Bootstrap, HTML, CSS, Git, Render (Cloud).</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://github.com/GuilhermeGustavoWeber/Portifolio_deployFlask"
                                       class="btn btn-sm btn-outline-secondary">Github</a>
                                </div>
                                <small class="text-body-secondary">2024</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Divisão Projeto -->
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                             src="static/images/pong.png" alt="Pong Game">
                        <div class="card-body">
                            <h1 class="fw-light">Pong Game (JAVA)</h1>
                            <p class="card-text">Este é um projeto de jogo Pong desenvolvido como parte de um curso de
                                Desenvolvimento de Games.</p>
                            <p class="card-text">Tecnologias Usadas: Eclipse IDE, JAVA.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="https://github.com/GuilhermeGustavoWeber/pongGame_JAVA"
                                       class="btn btn-sm btn-outline-secondary">Github</a>
                                </div>
                                <small class="text-body-secondary">2024</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Adicione mais cards conforme necessário -->
            </div>
        </div>
    </div>

    <section class="py-5 text-center container" id="contato">
        <h1 class="fw-light">Contato</h1>
        <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <div class="redes-sociais">
                <a href="https://www.linkedin.com/in/guilherme-gustavo-weber-70830124b/" target="_blank"
                   class="social-icon">
                    <img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" alt="LinkedIn">
                    LinkedIn
                </a>
                <a href="https://github.com/GuilhermeGustavoWeber" target="_blank" class="social-icon">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
                    GitHub
                </a>
                <a href="https://www.instagram.com/guilherme.gweber/" target="_blank" class="social-icon">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1200px-Instagram_icon.png"
                         alt="Instagram">
                    Instagram
                </a>
                <!-- Adicione mais redes sociais conforme necessário -->
            </div>
        </div>
    </section>
</main>
{% endblock conteudo %}
