<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio GGW</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
        <h1>Guilherme Gustavo Weber</h1>
        <p>Estudante: Ciência da Computação | Programação | Desenvolvimento</p>
    </header>

    <section id="sobre">
        <h2>Sobre Mim</h2>
        <p>Sou um desenvolvedor com o comprometimento e motivação na busca de oportunidades para crescer e contribuir, agregando conhecimento e desenvolvendo novas habilidades. Adquirindo experiência em várias linguagens de programação e frameworks modernos. </p>
    </section>

    <section id="projetos">
        <h2>Projetos</h2>
        <div class="projeto">
            <h3>Deploy Flask</h3>
            <p>O projeto "Deploy Flask" é uma aplicação web desenvolvida em Flask, um framework web leve para Python. O objetivo deste projeto é demonstrar o processo de criação e deploy de uma aplicação web simples utilizando Flask, bem como a configuração de um ambiente de produção para garantir que a aplicação esteja disponível para os usuários finais.
            <p>Tecnologias Usadas: Flask, Python, HTML e CSS, Git, Render.</p>
            <a href="https://github.com/GuilhermeGustavoWeber/Portifolio_deployFlask" target="_blank" class="project-link">
                Ver no GitHub
            </a>
        </div>
        <!-- Adicione mais projetos conforme necessário -->
    </section>

    <section id="habilidades">
        <h2>Habilidades</h2>
        <ul>
            <li>HTML & CSS</li>
            <li>Java (básico)</li>
            <li>Python</li>
            <li>C/C++</li>
            <li>Android (básico)</li>
            <li>Microsoft Office</li>
            <!-- Adicione mais habilidades conforme necessário -->
        </ul>
    </section>

    <section id="contato">
        <h2>Redes Sociais</h2>
        <div class="redes-sociais">
            <a href="https://www.linkedin.com/in/guilherme-gustavo-weber-70830124b/" target="_blank" class="social-icon">
                <img src="https://cdn-icons-png.flaticon.com/256/174/174857.png" alt="LinkedIn">
                LinkedIn
            </a>
            <a href="https://github.com/GuilhermeGustavoWeber" target="_blank" class="social-icon">
                <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub">
                GitHub
            </a>
            <a href="" target="_blank" class="social-icon">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1200px-Instagram_icon.png" alt="Instagram">
                Instagram
            </a>
            <!-- Adicione mais redes sociais conforme necessário -->
        </div>
    </section>
    

    <footer>
        <p>&copy; 2024 Guilherme Gustavo Weber. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
